.about{
    &-section{
        @include space-between();
     &-left{
        margin-top: 7.3rem;
        width: 40%;
        height: 100vh;
        display: grid;
        grid-template-columns:(7, 1fr);
        grid-auto-rows: (9, 1fr);
        gap: 2rem;
      .box1{
    grid-row: 1 / 5;
    grid-column: 1 / 4;
    background-image: url(../../images/box1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
      }
      .box2{
      grid-row: 2 / 5;
      grid-column: 4 / 7;
        background-image: url(../../images/box2.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
      }
                        .box3 {
                                grid-row: 5 / 8;
                                grid-column: 1 / 3;
                                background-image: url(../../images/box3.png);
                                    background-position: center;
                                    background-repeat: no-repeat;
                                    background-size: cover;
                        }

                                                          .box4 {
                                                                grid-row: 5 / 9;
                                                                grid-column: 3 / 7;
                                                                background-image: url(../../images/box4.png);
                                                                    background-position: center;
                                                                    background-repeat: no-repeat;
                                                                    background-size: cover;
                                                          }
     }
     &-right{
        @include flex-col(2.2rem);
       
        h2{
            @include mont-text(700, 4rem, 2.2rem,$black );
     
        }
        .rectangle{
            height: 2px;
            width: 43px;
        }
        .darker-p{
            @include roboto-text(700, 1.6rem, 2.8rem, $black);
        }
                                .lighter-p {
                                    @include roboto-text(400, 1.6rem, 2.8rem, $brown-grey);
                                }
     }
    }
}