.main{
    height: 120vh;
background-image: url("../../images/main-section-bg.png");
position: relative;
    .orange {
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
        }

.main-section{
    &-mid{
   @include flex-row(15.4rem);
&-left{
    @include flex-col(2.7rem);
    margin-top: 10rem;
            .buttons {
                margin-top: 5rem;
                @include flex-row(1.6rem);
                    .first {
                        @include button($orange, $white, 1.7rem, 17px 40px 18px 25px);
                        @include flex-row(4px);
                    }
            
                    .second {
                        @include button(transparent, $white, 1.7rem, 17px 40px 18px 25px);
                        border: 1px solid $white;
                        @include flex-row(4px);
                    }
                }
                h2{
                    @include mont-text(700, 4.6rem, 5.4rem, $white );
                }
                p{
                    @include roboto-text(400, 1.7rem, 2.3rem, $white);
                }
}
.phone{
    margin-top: 3rem;
}
}
}}